.detail-header {
  background-size: cover;
  background-position: center;
}

.detail-header-text {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
}

.form-inline>div {
  display: inline
}

table.ingredients {
  width: 100%;
}

table.ingredients input {
  width: 100%;
}

table.ingredients td {
  text-align: center;
}